<div class="card animated fadeIn fast">
    <!-- [src] es para que angular lo maneje para que se conecte con let heroe-->
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{ heroe.nombre }}</h5>
        <p class="card-text">{{ heroe.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

        <button (click)="verHeroe()" type="button" class="btn btn-outline-primary btn-block">
          Ver más
        </button>


        <!--/heroe es necesario para poner en raiz por que sino la url se formaria /heroes/heroe/1 y debe ser /heroe/1 -->
        <!--<a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a>-->
    </div>
</div>