<h1>Héroes<small> Marvel y DC</small></h1>
<hr>


<div class="card-columns">
    <!-- <div class="card animated fadeIn fast" *ngFor="let heroe of heroes, let i = index"> -->

    <!-- [heroe]="heroe" es la [heroe] variable que se pasa al componente hijo  "heroe" es la variable de let -->
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="foo" [index]="i" *ngFor="let foo of heroes, let i = index"></app-heroe-tarjeta>

    <!--  (heroeSeleccionado)="verHeroe($event)"  heroeSeleccionado es la variable del hijo verHeroe($event) es invocar la funcion del padre y event es para que lellgue el argumento -->
</div>